*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
}
.HeadPage{
    text-align: right;
    background-color: orange;
    padding: 5px;
}
.HeadPage input{
    padding: 5px;
}
.HeadPage a{
    text-decoration: none;
    color: black;
    background-color: orange;
}
.HeadPage button {
    border: none;
    background-color: orange;
}
.HeadPage button:hover,:focus{
    text-decoration-color: blue;
    text-decoration-line: underline;
    color: red;
}
.HeadPage input{
    border: none;
}
.IntroFilm{
    text-align: center;
}
.IntroFilm h1{
    padding: 10px;
}
.IntroFilm select{
    cursor: pointer;
}
.IntroChar{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: auto;
    height: auto;
}
body h1{
    text-align: center;
    
}
.IntroChar div{
    padding-right: 50px;
}

a{
    text-decoration: none;
}
a:hover,
a:focus{
    text-decoration-color: blue;
    text-decoration-line: underline;
    color: red;
}

img{
    cursor: zoom-in; box-shadow: 1px 1px  black;
}
#Comment{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
#Comment input{
    padding: 5px;
    border: none;
}
#Comment input[type="submit"]:focus,
#Comment input[type="submit"]:hover
{
cursor: pointer;
color: blue;
}
#Comment input p{
    padding: 5px;
}

.InsertLogo{
    padding-right: 650px;
}
#FooterPage{
    background-color: orange;
}
#FooterPage fieldset{
    text-align: center;
    background-color: orange;
}
#FooterPage fieldset legend{
    font-style: italic  ;
}
iframe{
    box-shadow: 1px 1px  grey;
}

.frame{
    display: flex;
    justify-content: center;
}
#SelectFilm{
    padding: 10px;
    font-size: 20px;
}

header{
    min-height: 70px;
    background-color: gray;
}
footer{
    min-height: 70px;
    background-color: gray;
}
main{
    height:623px;
}
.imgcontainer{
    text-align: center;
    position: relative;
}
.imgcontainer img {
    padding-top: 10px;
}
.close{
    position: absolute;
    right: 25px;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.modal-content{
    background-color: #fefefe;
    /* display and box model */
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}
.container{
    
    align-items: center;
    padding: 16px;
}
.container input[type="text"]{
/* display and box model */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container button{
    width: 100%;
    padding: 8px;
    background-color: chartreuse;
    border: 1px solid ;
    border-radius: 1px;    
    color: white;
}
.container button:hover,
.container button:focus{
    cursor: pointer;

}
.bot{
    padding: 16px;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  .cancelbtn{
      background-color: red;
      /* box model */
      padding: 8px;
      border: 1px solid ;
      border-radius: 1px;
  }
.cancelbtn:hover,
.cancelbtn:focus
{
      cursor: pointer;
}
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }