*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
}
.HeadPage{
    text-align: right;
    background-color: orange;
    padding: 5px;
}
.HeadPage input{
    padding: 5px;
}
.HeadPage a{
    text-decoration: none;
    color: black;
    background-color: orange;
}

.IntroFilm{
    text-align: center;
}
.IntroFilm h1{
    padding: 10px;
}
.IntroFilm select{
    cursor: pointer;
}
.IntroChar{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: auto;
    height: auto;
}
body h1{
    text-align: center;
    
}
.IntroChar div{
    padding-right: 50px;
}

a{
    text-decoration: none;
}
a:hover,
a:focus{
    text-decoration-color: blue;
    text-decoration-line: underline;
}

img{
    cursor: zoom-in; box-shadow: 1px 1px  black;
}
#Comment{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
#Comment input{
    padding: 5px;
}
#Comment input[type="submit"]:focus,
#Comment input[type="submit"]:hover
{
cursor: pointer;
color: blue;
}
#Comment input p{
    padding: 5px;
}

.InsertLogo{
    padding-right: 650px;
}
#FooterPage{
    background-color: orange;
}
#FooterPage fieldset{
    text-align: center;
    background-color: orange;
}
#FooterPage fieldset legend{
    font-style: italic  ;
}
iframe{
    box-shadow: 1px 1px  grey;
}

.frame{
    display: flex;
    justify-content: center;
}
#SelectFilm{
    padding: 10px;
    font-size: 20px;
}

